<div class="container h-100 pt-4" style="margin-top: 20px;">
    <div class="row">
        <div class="col-lg-4">
            <div id="overview-clube" class="card position-relative" style="margin-right: 20px; margin-left: 10px">
                <% if (clubeData.admin) { %>
                    <button id="admin-edicao" class="position-absolute align-self-end m-0 p-0 d-flex border border-none">
                        <i class="gear-icon"></i>
                    </button>
                    <% } %>
                        <figure class="m-auto mb-2 foto-clube">
                            <img class="img-fluid rounded-circle" src="/midia/imagens/kaffe.jpg" alt="">
                        </figure>
                        <section class="card-body w-100">
                            <h4 class="card-title">
                                <%- clubeData.nome %>
                            </h4>
                            <h5 class="card-subtitle mb-2 text-muted">
                                <%- clubeData.subtitulo %>
                            </h5>
                            <p id="descricao" class="card-text text-truncate" aria-expanded="false">
                                <%- clubeData.descricao %>
                                    <button id="btn-ler-mais" class="d-block btn-link">« Ler mais »</button>
                            </p>
                            <section class="w-100">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        <a href="<%-clubeData.site%>" class="card-link">Site</a>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <a href="<%-clubeData.whatsapp%>" class="card-link">WhatsApp</a>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <a href="<%-clubeData.telegram%>" class="card-link">Telegram</a>
                                    </li>
                                    <li class="list-group-item px-0">
                                        <p class="m-0">
                                            <% clubeData['redesSociais'].split('\n').forEach(href=> { %>
                                                <a class="d-block card-link text-truncate m-0"
                                                    href=<%-`${href}`%>><%-`${href}`%></a>
                                                <% }) %>
                                        </p>

                                    </li>
                                </ul>
                            </section>
                        </section>
            </div>
        </div>
        <div class="col row justify-content-evenly h-50" id="clube-destaques">
            <% if (clubeData.admin) { %>
            <section class="col-lg-4 d-flex flex-column">
                <button class="d-inline rounded mb-2 btn btn-lilas btn-secondary">
                    Criar Reunião
                </button>
                <button class="d-inline rounded mb-2 btn btn-lilas btn-secondary" type="button"
                    data-bs-toggle="modal" data-bs-target="#enqueteModal">
                    Enquetes
                </button>
                <button class="d-inline rounded mb-2 btn btn-lilas btn-secondary" type="button"
                    data-bs-toggle="modal" data-bs-target="#membrosModal">
                    Membros
                </button>
            </section>
            <%- include('./partials/_enqueteModal.ejs') %>
            <%- include('./partials/_adicionarMembroModal.ejs', {idClube: clubeData.idClube}) %>
            <% } %>
                <section id="historico-de-leitura" class="col-lg-6">
                <div class="card pb-0">
                    <h4>Leituras Recentes:</h4>
                    <ul class="list-group w-100 px-2">
                        <% [1,2,3,4].forEach(i=> { %>
                            <li class="d-flex">
                                <li class="list-group-item">
                                    <a href="">Leitura #<%-i%></a>
                                </li>
                            </li>
                            <% }) %>
                    </ul>
                    <div class="my-3">
                        <ul class="pagination pagination-md m-0">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                        </ul>
                    </div>
                </div>
        </section>

        </div>
    </div>
</div>
<script>
        (function adicionarFuncionalidadeLerMais() {
            const btnLerMais = document.querySelector("button#btn-ler-mais")
            btnLerMais.addEventListener('click', function (e) {
                const paragDescricao = document.querySelector("p#descricao")
                const textoEstaEscondido = paragDescricao.getAttribute('class').includes('text-truncate')
                    ? true
                    : false
                if (textoEstaEscondido) {
                    btnLerMais.textContent = '» guardar «'
                    paragDescricao.setAttribute('class', paragDescricao.getAttribute('class').replace('text-truncate', ''))
                    paragDescricao.setAttribute('aria-expanded', 'true')
                } else {
                    btnLerMais.textContent = '« Ler mais »'
                    paragDescricao.setAttribute('class', `${paragDescricao.getAttribute('class')} text-truncate`)
                    paragDescricao.setAttribute('aria-expanded', 'false')
                }
            })
        })()
</script>

<% if (clubeData.admin) { %>
<script>
    try {

    } catch(err) {
        console.error(err)
    }
</script>
<% } %>

<script>
    (function () {
        async function obterLeiturasExistentes() {
            try {
                const response = await fetch('/clube/leituras');
                if (!response.ok) {
                    throw new Error(response.statusText);
                }
                const json = await response.json();
                return json
            } catch (err) {
                console.error(err);
            }
        }

        async function buildLeituraStorage() {
            const leituras = await obterLeiturasExistentes()
            const quantidadeExibidaPorPagina = 4
            for (let i = 0; i < quantidadeExibidaPorPagina; i++) {
                let offsetInicial = i*quantidadeExibidaPorPagina
                let offsetFinal = (i+1)*quantidadeExibidaPorPagina
                let rangeDeLeitura = leituras.slice(offsetInicial, offsetFinal)
                localStorage.setItem(`${i+1}`, JSON.stringify(rangeDeLeitura))
            }
            
        }

        window.addEventListener('load', buildLeituraStorage)
    })()
</script>