<ul class="list-group list-group-flush">
    <% const listItemDados = [
        {url: clubeData.site, icone: "bi bi-globe", data: "site" },
        {url: clubeData.whatsapp, icone: "bi bi-whatsapp", data: "whatsapp" },
        {url: clubeData.telegram, icone: "bi bi-telegram", data: "telegram" }
    ] %>
    <% listItemDados.forEach(item => { %>
        <li class="list-group-item px-0 d-flex">
            <i class="<%- item.icone %> align-self-center pe-1"></i>
            <div class="w-100">
                <% if (item.url) { %>
                    <a data-name="<%-item.data%>" href="<%- item.url %>" class="card-link can-edit text-truncate d-block align-self-center">
                        <%- item.url %>
                    </a>
                <% } else { %>
                    <span data-name="<%-item.data%>" class="d-block can-edit text-muted small align-self-center"></span>
                <% } %>
            </div>
        </li>
    <% }) %>
    <% /* %>
        <li class="list-group-item px-0 d-flex">
            <i class="bi bi-whatsapp align-self-center pe-1"></i>
            <div>
                <% if (clubeData.whatsapp) { %>
                    <a href="<%-clubeData.whatsapp%>"
                        class="card-link text-truncate w-100 align-self-center cand-edit">
                        <%-clubeData.whatsapp%>
                    </a>
                    <% } else { %>
                        <span class="text-muted small align-self-center cand-edit">Whatsapp do clube...</span>
                        <% } %>
            </div>
        </li>
        <li class="list-group-item px-0 d-flex">
            <i class="bi bi-telegram align-self-center pe-1"></i>
            <div class="cand-edit">
                <% if (clubeData.telegram) { %>
                    <a href="<%-clubeData.telegram%>" class="card-link text-truncate w-100 align-self-center">
                        <%-clubeData.telegram%>
                    </a>
                    <% } else { %>
                        <span class="text-muted small align-self-center">Telegram do clube...</span>
                        <% } %>
            </div>
        </li>
    <% */%>
    <li class="list-group-item px-0">
        <i class="bi bi-people"></i>
        <p class="m-0 can-edit p-0 can-edit" data-name="redesSociais">
            <% const outrasRedes=clubeData['redesSociais']?.split(',') %>
                <% outrasRedes?.forEach(linkRede=> { %>
                    <% if (linkRede) { %>
                        <a href=<%-`${linkRede}`%> class="d-block text-truncate m-0">
                            <%-linkRede%>
                        </a>
                        <% } else { %>
                            <span class="text-muted small align-self-center">Outras redes
                                sociais...</span>
                            <% } %>
                                <% }) %>
        </p>

    </li>
</ul>