<div class="container h-100 pt-4">
    <!-- ROW 1 -->
    <div class="row" id="row1a"> <!-- Perfil -->
        <div class="col-lg-4">
            <div class="card position-relative overview-pagina">
                <%- include('../shared/_modoEdicao') %>
                    <figure id="overview-figure" class="m-0 p-0 position-relative">
                        <img class="img-fluid can-edit"
                            src="<%-usuario.imagemUrl || '/midia/imagens/kaffe.jpg'%>">
                        <div class="position-absolute w-100 h-100">
                            <label for="imageUpload"><i class="bi bi-pencil-square representante-edicao"></i></label>
                            <input class="d-none" type="file" accept=".png, .jpg, .jpeg" id="imageUpload"
                                name="imageUpload">
                                <input type="hidden" name="idClube" value="<%-usuario.idUsuario%>">
                        </div>
                    </figure>
                    <section id="overview-section" class="card-body w-100">
                        <h4 data-name="nome" class="card-title mb-2 p-1 can-edit position-relative" contenteditable="false">
                            <%- usuario.nome %>
                        </h4>
                        <span class="d-block small p-1 mb-1">Descrição:</span>
                        <p data-name="bio" class="card-text p-1 can-edit position-relative" contenteditable="false">
                            <%- usuario.bio %>
                        </p>
                    </section>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card"> <!-- agenda -->
                <h4>Agenda:</h4>
                <div class="card-body agenda">
                    <ul class="list-group">
                        <li class="list-group-item">...</li>
                        <li class="list-group-item">...</li>
                        <li class="list-group-item">...</li>
                    </ul>
                </div>
            </div>
            <div class="card"> <!-- esquete -->
                <h4>Enquetes:</h4>
                <div class="card-body agenda">
                    <ul class="list-group">
                        <li class="list-group-item">...</li>
                        <li class="list-group-item">...</li>
                        <li class="list-group-item">...</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">


            <div class="container-clubes"> <!-- clubes -->
                <div class="card">
                    <h5 class="text-center">Meus Clubes:</h5>
                    <a class="btn btn-outline-primary" href="/clube/cadastro">Crie seu clube!</a>
                </div>

                <% clubes.forEach(clube=> { %>

                    <div class="card mb-3" style="max-width: 400px;">
                        <div class="w-100">
                            <figure id="card-img-clipped">
                                <img src="/midia/imagens/Logos/logo-rt-neg-quad.png" class="w-100">
                            </figure>
                            <div class="card-body px-0 py-3">
                                <h4 class="card-title fs-6">
                                    <%- clube.nome %>
                                </h4>
                                <p class="card-text small text-truncate descricao-truncate mb-1" aria-expanded="false">
                                    <%- clube.descricao %>
                                </p>
                                <button class="d-block btn-link btn-ler-mais">« Ler mais »</button>
                            </div>
                        </div>
                        <a class="btn btn-outline-primary" id="btn-clube" href="<%-`/clube/${clube.idClube}`%>">
                            Entrar
                        </a>
                    </div>

                    <% }) %>

            </div>

        </div>

    </div>
</div>
<script src="/scripts/lerMaisUtility.js" type="module"></script>
<script src="/scripts/editorInformacoesCard.js" type="module"></script>